name: MCP Docker Build
on:
  push:
    branches:
      - main
    paths:
      - mcp/**
      - .github/workflows/mcp-docker-build.yml
  workflow_dispatch:
jobs:
  build-mcp-image:
    name: Build MCP Image
    uses: getlago/lago/.github/workflows/docker-build-multi-arch.yaml@main
    with:
      image-name: ghcr.io/getlago/mcp-server
      registry: ghcr
      context: mcp
      dockerfile: mcp/Dockerfile
